<div>
<embed width="460" height="345"
        type="application/x-shockwave-flash" src="http://www.jogos-mario.org/wp-content/themes/yoo_revista_wp/jogos/Mario_flash2.swf" 
       pluginspage="http://www.macromedia.com/go/getflashplayer" 
       allowscriptaccess="sameDomain" quality="high" align="middle" bgcolor="#000000" />
</div>