<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <h2>Bem vindo ao sistema do SAC </h2>

              
            </article>
        </div>

        <!-- end row -->
      
    </section>
    <!-- end widget grid -->
</div>
