@model Ps_Interesse_Lead

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.cod_interesse)

<fieldset>
    <section>
        <label class="label">Tipo de Leads</label>
        <label class="input">
            <i class="icon-prepend fa fa-user"></i>
            @Html.TextBoxFor(m => m.des_nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.des_nome)
        </label>
    </section>


</fieldset>
